<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <title>Расписание уроков</title>
    <style>
        button {
            display: inline;
            width: 19.5%;
        }

        span {
            display: inline;
            width: 20%;
        }
    </style>
</head>

<body>
<h1 style="text-align: center" class="display-4">
    <b>Расписание уроков</b>
</h1>

<div class="alert alert-secondary" role="alert" style="font-size:42px">
    Нечетная неделя
    <p style="display: inline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    Четная неделя
</div>

{% for day in timetable%}
<h3 style="margin-left: 7%" class="display-4">
    <b>{{day}}</b>
</h3>
{% for lesson in range(timetable[day]['Время']|length)%}
<button type="button" class="btn btn-outline-dark" style="font-size:30px">
    {{timetable[day]['Нечётная']['Группа 1'][lesson]}}
</button>
<button type="button" class="btn btn-outline-dark" style="font-size:30px">
    {{timetable[day]['Нечётная']['Группа 2'][lesson]}}
</button>

<button type="button" class="btn btn-dark" style="font-size:30px">
    {{timetable[day]['Время'][lesson]}}
</button>

<button type="button" class="btn btn-outline-dark" style="font-size:30px">
    {{timetable[day]['Чётная']['Группа 1'][lesson]}}
</button>
<button type="button" class="btn btn-outline-dark" style="font-size:30px">
    {{timetable[day]['Чётная']['Группа 2'][lesson]}}
</button>
<br>
{% endfor %}
<br>
<br>
{% endfor %}

</body>

</html>